<a href="https://colab.research.google.com/github/ekdnam/KalpanaLabs/blob/master/Day%206/KalpanaLabs_Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comparison statements

---

How to compare between two values? 

How to implement comparison operations in Python?

## Boolean values

---

The variables of the Boolean datatype allow only two data types.

__True OR False__

They are really helpful for implementing control statements, which will learn in the next few weeks.

In [2]:
a = True

b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

## What are comparison statements?


---

As the name suggests, they are used for comparing two values.

They use different comparison operators, like:

* <
* \>
* \>=
* <=
* ==
* !=

## What do they mean?



---

>Operator | Meaning
>--- | ---
> \< | Lesser than
>\> | Greater than
> \<= | Lesser than or equal to
>\>= | Greater than or equal to
> \== | Equal to
>\!= | Not equal to

We can check this using boolean values.

In [5]:
var_1 = 1
var_2 = 2

In [6]:
value_1 = var_1 < var_2

value_2 = var_1 > var_2

value_3 = var_1 <= var_2

value_4 = var_1 >= var_2

value_5 = var_1 == var_2

value_6 = var_1 != var_2

print(value_1)
print(value_2)
print(value_3)
print(value_4)
print(value_5)
print(value_6)

True
False
True
False
False
True

In [8]:
str_1 = "ABC"
str_2 = "BCD"

In [9]:
value_1_1 = str_1 < str_2

value_2_1 = str_1 > str_2

value_3_1 = str_1 <= str_2

value_4_1 = str_1 >= str_2

value_5_1 = str_1 == str_2

value_6_1 = str_1 != str_2

print(value_1_1)
print(value_2_1)
print(value_3_1)
print(value_4_1)
print(value_5_1)
print(value_6_1)

True
False
True
False
False
True